{% comment %}
    This page will be EXTENDED by all other Pages.
{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        {% block title %}
            Base - CC Website
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Images/logo.png' %}" />
    {% include 'css.html' %}

</head>
    <body>

        {% block content %}
            {# Content Here #}
        {% endblock %}

        {% include 'scripts.html' %}

        {% block javascript %}
            {# JavaScript Here #}
        {% endblock %}

    </body>
</html>

{#Tried Earlier:#}
{#<!--CSS Spinner-->#}
{#<div class="spinner-wrapper">#}
{#<div class="spinner"></div>#}
{#</div>#}
