{% load static %}

<!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "Materialize/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{%  static "Materialize/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "Materialize/css/materialize-social.css" %}" rel="stylesheet" />
    <link href="{% static 'css/my_style.css' %}" type="text/css" rel="stylesheet">

{#    Cropper CSS#}
{#    <link href="{% static 'css/cropper.min.css' %}">#}

{#    Bootstrap CSS#}
{#    <link href="{% static 'Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">#}