{% load static %}
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "Materialize/js/materialize.js" %}"></script>
<script src="{% static "Materialize/js/init.js" %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script
  src="http://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{#Cropper JS files#}
{#<script src="{% static 'js_for_cropper/jquery.min.js' %}"></script>#}
{#<script src="{% static 'js_for_cropper/cropper.min.js' %}"></script>#}
{#<script src="{% static 'js_for_cropper/jquery-cropper.min.js' %}"></script>#}

{#Bootstrap JS files#}
{#<script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'Bootstrap/js/bootstrap.js' %}"></script>#}

<script>M.AutoInit();</script>

{# Function for read more functionality #}
{#                               <a class="btn" onclick="expandPost()">Read more</a>#}
{#                               <script>#}
{#                                    function expandPost() {#}
{#                                        document.getElementById("p").innerHTML = "{{ post.content|safe }}";#}
                                        {#window.alert('hi');#}
{#                                        }#}
{#                                </script>#}
{# Function ended #}


{# Show password #}
<script>
    function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{# Show password ended #}




{# Django Docs copied for AJAX #}
{#// using jQuery#}
{#<script>#}
{#function getCookie(name) {#}
{#    var cookieValue = null;#}
{#    if (document.cookie && document.cookie !== '') {#}
{#        var cookies = document.cookie.split(';');#}
{#        for (var i = 0; i < cookies.length; i++) {#}
{#            var cookie = jQuery.trim(cookies[i]);#}
{#            // Does this cookie string begin with the name we want?#}
{#            if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                break;#}
{#            }#}
{#        }#}
{#    }#}
{#    return cookieValue;#}
{# }#}
{##}
{#var csrftoken = getCookie('csrftoken');#}
{##}
{#function csrfSafeMethod(method) {#}
{#    // these HTTP methods do not require CSRF protection#}
{#    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{# }#}
{#$.ajaxSetup({#}
{#    beforeSend: function(xhr, settings) {#}
{#        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
{#            xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#        }#}
{#    }#}
{# });#}
{#</script>#}
{##}
{# AJAX Script#}
{#<script>#}
{#    $(document).on('submit', '.ajax-form', function (e) {#}
{#        e.preventDefault();#}
{##}
{#        $.ajax({#}
{#            type: 'POST',#}
{#            url: '{% url 'Login' %}',#}
{#            data: {#}
{#                username: $('#username_login').val(),#}
{#                password: $('#password_login').val(),#}
{#                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
{#            },#}
{#            success: function () {#}
{#                alert('User logged in');#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
{# AJAX Script Ended#}
{#<script>#}
{#$(document).ready(function(){#}
{#    var $myForm = $('#ajax-form');#}
{#    $myForm.submit(function(event){#}
{#        event.preventDefault();#}
{#        var $formData = $(this).serialize();#}
{#        var $thisURL = $myForm.attr('data-url') || window.location.href; // or set your own url#}
{#        $.ajax({#}
{#            method: "POST",#}
{#            url: $thisURL,#}
{#            data: $formData,#}
{#            success: handleFormSuccess,#}
{#            error: handleFormError,#}
{#        })#}
{#    });#}
{##}
{#    function handleFormSuccess(data, textStatus, jqXHR){#}
{#        console.log(data);#}
{#        console.log(textStatus);#}
{#        console.log(jqXHR);#}
{#        $myForm.reset(); // reset form data#}
{#    }#}
{##}
{#    function handleFormError(jqXHR, textStatus, errorThrown){#}
{#        console.log(jqXHR);#}
{#        console.log(textStatus);#}
{#        console.log(errorThrown);#}
{#    }#}
{# });#}
{#</script>#}

<script>
    $(".comment-reply-btn").click(function (event) {
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
        {#alert('This was clicked!');#}
    })
</script>
{#<script>#}
{#    function f() {#}
{#        $('.comment-reply-btn').next('.comment-reply').fadeToggle();#}
{#    }#}
{#</script>#}

{# For Toasts #}
    {% if messages %}
        {% for message in messages %}
            <script>M.toast({html: "{{ message }}", classes: 'rounded', displayLength: 3000})</script>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <script>M.toast({html: "{{ error }}", classes: 'rounded', displayLength: 3000})</script>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if password_change_form.errors %}
        {% for field in password_change_form %}
            {% for error in field.errors %}
                <script>M.toast({html: "{{ error }}", classes: 'rounded', displayLength: 3000})</script>
            {% endfor %}
        {% endfor %}
    {% endif %}
{# Function to display toast from HTML (when message can't be passed from view) #}
    <script>
        function addToast(message){
            M.toast({html: message, classes: 'rounded', displayLength: 3000});
        }
    </script>

