{% extends 'base.html' %}
{% load materializecss %}
{% comment %}
    Context Variables:
    form - Signup form
    user - Logged in User
    addpostform - Post Add Form
    posts - Posts
    tags - Tags
    user_profiles - Profiles of users
    comments - Comments
    comment_form - Comment Form
{% endcomment %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {# All content INSIDE id='parent' div #}
    <div id="parent">

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br><br><br>
                    <h1 class="header center white-text text-lighten-2">CC Club MNNIT</h1>
{#                    <h1 class="header center white-text text-lighten-2 hide-on-med-and-down" style="font-size: 6vw">CC Club MNNIT</h1>#}
{#                    <h1 class="header center white-text text-lighten-2 hide-on-large-only" style="font-size: 10vw">CC Club MNNIT</h1>#}
                    <div class="row center">
                        <h5 class="header col s12 light">A club for enthusiast coders at MNNIT Allahabad</h5>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="parallax"><img src="{% static 'b8.png' %}" alt="Un - splashed background img 1"></div>
        </div>
    </div>

    {% include 'home/navbar.html' %}

        <div class="row">

            {# Left side Catergory Menu #}
            <div class="col s12 m4 l2 hide-on-small-and-down">
                <ul class="collapsible popout teal">
                        {% for tag in tags %}
                            <li>
                                <div class="collapsible-header orange">{{ tag.name }}</div>
                                <div class="collapsible-body">{{ tag.description }}</div>
                            </li>
                        {% endfor %}
                </ul>
            </div>

            <div class="col s12 m8 l7">
                {% if not user.is_superuser %}
                    {% include 'home/add_post.html' %}
                {% endif %}
                <div class="post-display-home">
                    {% include 'home/post_display.html' %}
                </div>

            </div>
             {# Right side Catergory Menu #}
            <div class="col s12 m2 l3 hide-on-med-and-down">
                <ul class="collection white">
                    <li class="collection-item amber">
                        <a class="btn-flat" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m2 l3" style="overflow: auto">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23E4C441&amp;ctz=Asia%2FKolkata&amp;src=YW5raXQuc2FuZ3dhbjE5OTlAZ21haWwuY29t&amp;src=dnIyaXRvNjY4aTNuNmRrajhvOW1qMHI4Zm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTAwNDAyMzkwODMzMzY3MjkyNzU3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;color=%237986CB&amp;color=%2333B679&amp;color=%23007b83&amp;color=%230B8043" style="border-width:0" width="400px;"  height="400px" max-height="100%" frameborder="0" scrolling="no"></iframe>
            </div>

           

        </div>

    {% include 'footer.html' %}
{% endblock %}









{#                     commenr #}
{#                    <li>#}
{#                        <ul class="collapsible collection-item">#}
{#                            <li>#}
{#                                <div class="collapsible-header"><i class="material-icons">mode_comment</i>Comments</div>#}
{#                                <div class="collapsible-body">#}
{#                                    <div>#}
{#                                       Username: *comment 1*#}
{#                                    </div>#}
{#                                    <div>#}
{#                                       Username: *comment 2*#}
{#                                    </div>#}
{#                                    <div class="divider"></div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                     comment ended #}
