{% extends 'base.html' %}
{% load materializecss %}
{% comment %}
    Context Variables:
    form - Signup form
    user - Logged in User
    addpostform - Post Add Form
    posts - Posts
    tags - Tags
    user_profiles - Profiles of users
{% endcomment %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {# All content INSIDE id='parent' div #}
    <div id="parent">

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br><br><br>
                    <h1 class="header center white-text text-lighten-2">CC Club MNNIT</h1>
{#                    <h1 class="header center white-text text-lighten-2 hide-on-med-and-down" style="font-size: 6vw">CC Club MNNIT</h1>#}
{#                    <h1 class="header center white-text text-lighten-2 hide-on-large-only" style="font-size: 10vw">CC Club MNNIT</h1>#}
                    <div class="row center">
                        <h5 class="header col s12 light">A club for enthusiast coders at MNNIT Allahabad</h5>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="parallax"><img src="{% static "b8.png" %}" alt="Un - splashed background img 1"></div>
        </div>
    </div>

    {% include 'home/navbar.html' %}

        <div class="row">

            {# Left side Catergory Menu #}
            <div class="col s12 m4 l2 hide-on-small-and-down">
                <ul class="collapsible popout teal">
                        {% for tag in tags %}
                            <li>
                                <div class="collapsible-header orange">{{ tag.name }}</div>
                                <div class="collapsible-body">{{ tag.description }}</div>
                            </li>
                        {% endfor %}
                </ul>
            </div>

            <div class="col s12 m8 l8">
                {% include 'home/add_post.html' %}

                {% for post in posts %}
                    <ul class="collection with-header" >
                            <li class="collection-header">
                                <h4 id="post-head-m-down" class="hide-on-med-and-down">{{ post.title|safe }}</h4>
                                <h4 id="post-head-s-down-l" class="hide-on-small-and-down hide-on-large-only">{{ post.title|safe }}</h4>
                                <h4 id="post-head-m-up" class="hide-on-med-and-up">{{ post.title|safe }}</h4>
                                <p class="row">
                                    <span class="col s8 m8 l8">
                                        <a class="chip" href="{% url 'User Profile' post.author.username %} ">
                                            {% for user_profile in user_profiles %}
                                                {% if user_profile.user == post.author %}
                                                    {% if user_profile.avatar %}
                                                        <img src="{{ user_profile.avatar.url }}">
                                                    {% else %}
                                                        <img src="{% static 'default-profile-picture.jpg' %}">
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ post.author }}
                                        </a>
                                    </span>
                                <span class="col s4 m4 l4">Published: {{ post.published }}</span>
                                </p>
                            </li>
                            <li class="collection-item">
                                Tags :
                                {% for post_tag in post.tags.all %}
                                    <a class="chip">{{ post_tag|safe }}</a>
                                {% endfor %}
                            </li>
                            <li class="collection-item" id="p">
                                {{ post.content|safe }}
                            </li>
                    </ul>
                {% endfor %}

                {# Pagination #}
                {% if posts.has_other_pages %}
                    <ul class="pagination center-align">
                        {% if posts.has_previous %}
                            <li><a href="?page={{ posts.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                        {% else %}
                            <li class="disabled"><i class="material-icons">chevron_left</i></li>
                        {% endif %}
                        {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                                <li class="active teal"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                            <li><a href="?page={{ posts.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li class="disabled"><i class="material-icons">chevron_right</i></li>
                        {% endif %}
                    </ul>
                {% endif %}
                {# Pagination Ended #}

            </div>

            {# Right side Catergory Menu #}
            <div class="col s12 m2 l2 hide-on-med-and-down">

            {% if user.is_authenticated %}
                <ul class="collapsible white">
                    <li>
                        <div class="collapsible-header">
                            <a href="{% url "User Profile" user.username %}" >Profile</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
                <ul class="collapsible popout teal">
                        {% for tag in tags %}
                            <li>
                                <div class="collapsible-header">{{ tag.name }}</div>
                                <div class="collapsible-body">{{ tag.description }}</div>
                            </li>
                        {% endfor %}
                </ul>
            </div>

        </div>

    {% include 'footer.html' %}
{% endblock %}









{#                     commenr #}
{#                    <li>#}
{#                        <ul class="collapsible collection-item">#}
{#                            <li>#}
{#                                <div class="collapsible-header"><i class="material-icons">mode_comment</i>Comments</div>#}
{#                                <div class="collapsible-body">#}
{#                                    <div>#}
{#                                       Username: *comment 1*#}
{#                                    </div>#}
{#                                    <div>#}
{#                                       Username: *comment 2*#}
{#                                    </div>#}
{#                                    <div class="divider"></div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                     comment ended #}
