{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% comment %}
    Context Variables:
    form - Signup form
    user - Logged in User
    addpostform - Post Add Form
    posts - Posts
    tags - Tags
    user_profiles - Profiles of users
    comments - Comments
    comment_form - Comment Form
{% endcomment %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {# All content INSIDE id='parent' div #}
    <div id="parent">

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br><br><br>
                    <h1 class="header center white-text text-lighten-2">CC Club MNNIT</h1>
{#                    <h1 class="header center white-text text-lighten-2 hide-on-med-and-down" style="font-size: 6vw">CC Club MNNIT</h1>#}
{#                    <h1 class="header center white-text text-lighten-2 hide-on-large-only" style="font-size: 10vw">CC Club MNNIT</h1>#}
                    <div class="row center">
                        <h5 class="header col s12 light">A club for enthusiast coders at MNNIT Allahabad</h5>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="parallax"><img src="{% static 'b8.png' %}" alt="Un - splashed background img 1"></div>
        </div>
    </div>

    {% include 'home/navbar.html' %}

    <!-- Tab for Personalised and Public feed -->
    <ul class="row tabs tabs-fixed-width tab-demo">
        {% if user.username in request.build_absolute_uri and 'personalised/' in request.build_absolute_uri %}
        <li class="tab col s6 m6 l6 center" style="background: var(--background2)">
            <a class="tooltipped" data-tooltip="Personalised feed">
                <i class="material-icons small">personal_video</i>
            </a>
        </li>
        {% else %}
        <li class="tab col s12 m12 l12 center" style="background: var(--background2)">
            <a class="active tooltipped" data-tooltip="Public feed">
                <i class="material-icons small ">public</i>
            </a>
        </li>
        {% endif %}

    </ul>

    {# Tab for small screen to filter posts by tags #}
    <ul class="tabs tabs-fixed-width tab-demo hide-on-med-and-up">
        <li class="tab col center">
            <a target="_self" href="{% url 'Index' %}">Reset</a>
        </li>
    {% if user.username in request.build_absolute_uri and 'personalised/' in request.build_absolute_uri and user.is_authenticated %}
        {% for tag in tags %}
            {% if tag.name in request.build_absolute_uri %}
                <li class="tab col center amber"><a class="active" href="{% url 'personalised_index_with_filter' tag_filter=tag.name username=user.username %}" target="_self">{{ tag.name }}</a></li>
            {% else %}
                <li class="tab col center"><a class="" href="{% url 'personalised_index_with_filter' tag_filter=tag.name username=user.username %}" target="_self">{{ tag.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for tag in tags %}
            {% if tag.name in request.build_absolute_uri %}
                <li class="tab col center amber"><a class="active" href="{% url 'index_tag' tag.name %}" target="_self">{{ tag.name }}</a></li>
            {% else %}
                <li class="tab col center"><a class="" href="{% url 'index_tag' tag.name %}" target="_self">{{ tag.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
    {# Small screen tab ended #}

    <div class="row">

        {# Left side Catergory Menu #}
        <div class="col m4 l3 hide-on-small-and-down">
            {% include 'home/left_side_bar.html' %}
        </div>

        {# Middle part #}
        <div class="col s12 m8 l6">
            {% if not user.is_superuser %}
                {% include 'home/add_post.html' %}
            {% endif %}
            <div class="post-display-home">
                <!-- Public feed -->
                {% include 'home/post_display.html' %}
            </div>
        </div>


        {# Right side Catergory Menu #}
        <div class="col l3 hide-on-med-and-down">
            {% include 'home/right_side_bar.html' %}
        </div>

    </div>

    {% include 'footer.html' %}
{% endblock %}









{#                     commenr #}
{#                    <li>#}
{#                        <ul class="collapsible collection-item">#}
{#                            <li>#}
{#                                <div class="collapsible-header"><i class="material-icons">mode_comment</i>Comments</div>#}
{#                                <div class="collapsible-body">#}
{#                                    <div>#}
{#                                       Username: *comment 1*#}
{#                                    </div>#}
{#                                    <div>#}
{#                                       Username: *comment 2*#}
{#                                    </div>#}
{#                                    <div class="divider"></div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                     comment ended #}
