{% comment %}
    Context Variables:
    form - Login Form
    user - Logged in User
    addpostform - Post Add Form
    posts - Posts
    tags - Tags
    user_profiles - Profiles of users
    comments - Comments
    comment_form - Comment Form
{% endcomment %}
{% load static %}
<nav class="amber" role="navigation">

    <div class="nav-wrapper container">

        {% if user.is_authenticated %}
            <a id="logo-container" class="brand-logo"><img alt="Logo" src="{% static 'Images/logo.jpg' %}"></a>
        {% else %}
            <a id="logo-container" class="brand-logo">Hi, User!</a>
        {% endif %}

        <ul class="right hide-on-med-and-down">

            {% if user.is_authenticated %}
                <!-- Notifications -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Notifications" href="{% url 'all_notifications' %}"><i class="material-icons">notifications</i> </a>
                </li>

                {% if user.is_superuser %}
                    <!-- Dashboard -->
                    <li>
                        <a class="btn tooltipped" data-tooltip="Dashboard" href="/admin/"><i class="material-icons">dashboard</i></a>
                    </li>

                {% endif %}

                <!-- Home -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Home" href="{% url 'Index' %}"><i class="material-icons">home</i></a>
                </li>
                <!-- User Profile -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Profile" href="{% url "User Profile" user.username %}" ><i class="material-icons">person_pin</i></a>
                </li>

                <!-- Logout -->
                <li>
                    <a class="btn red tooltipped" data-tooltip="Logout" href="{% url 'Logout' %}"><i class="material-icons">power_settings_new</i></a>
                </li>

            {% else %}
                <!-- Home -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Home" href="{% url 'Index' %}"><i class="material-icons">home</i></a>
                </li>
                <!-- Login -->
                <li>
                    <a class=" waves-light btn modal-trigger" href="#modal1">Login</a>
                </li>
                <!-- Signup -->
                <li>
                    <a class=" waves-light btn modal-trigger" href="#modal2">Signup</a>
                </li>

            {% endif %}

        </ul>

        {# SideNav for Mobile view #}
        <ul id="nav-mobile" class="sidenav">
            <div class="row">

            {% if user.is_authenticated %}
                {% if user.username in request.build_absolute_uri and '/personalised/' in request.build_absolute_uri %}
                    {% if '/most-liked/' in request.build_absolute_uri %}
                        <a href="{% url 'personalised_index_most_liked' liked='yes' username=user.username %}" class="chip teal white-text">Most Liked</a>
                    {% else %}
                        <a href="{% url 'personalised_index_most_liked' liked='yes' username=user.username %}" class="chip">Most Liked</a>
                    {% endif %}
                    {%if '/older-first/' in request.build_absolute_uri %}
                        <a href="{% url 'personalised_index_older_first' older='yes' username=user.username %}" class="chip teal white-text">Older First</a>
                    {% else %}
                        <a href="{% url 'personalised_index_older_first' older='yes' username=user.username %}" class="chip">Older First</a>
                    {% endif %}
                {% else %}
                    {% if '/most-liked/' in request.build_absolute_uri %}
                        <a href="{% url 'index_most_liked' 'yes' %}" class="chip teal white-text">Most Liked</a>
                    {% else %}
                        <a href="{% url 'index_most_liked' 'yes' %}" class="chip">Most Liked</a>
                    {% endif %}
                    {%if '/older-first/' in request.build_absolute_uri %}
                        <a href="{% url 'index_older_first' 'yes' %}" class="chip teal white-text">Older First</a>
                    {% else %}
                        <a href="{% url 'index_older_first' 'yes' %}" class="chip">Older First</a>
                    {% endif %}
                {% endif %}
                {% if user.is_superuser %}

                    {# If user is superuser #}

                        <!-- Notifications -->
                        <div class="col s3 m3 l3 center">
                            <a class="btn-small tooltipped" data-tooltip="Notifications" href="{% url 'all_notifications' %}"><i class="material-icons">notifications</i> </a>
                        </div>
                        <!-- Dashboard -->
                        <div class="col s3 m3 l3 center">
                            <a class="btn-small tooltipped" data-tooltip="Dashboard" href="/admin"><i class="material-icons">dashboard</i></a>
                        </div>
                        <!-- User Profile -->
                        <div class="col s3 m3 l3 center">
                            <a class="btn-small tooltipped" data-tooltip="Profile" href="{% url "User Profile" user.username %}" ><i class="material-icons">person_pin</i></a>
                        </div>
                        <!-- Logout -->
                        <div class="col s3 m3 l3 center">
                            <a class="btn-small red tooltipped" data-tooltip="Logout" href="{% url 'Logout' %}"><i class="material-icons">power_settings_new</i></a>
                        </div>

                        {% if user.username in request.build_absolute_uri and 'personalised/' in request.build_absolute_uri %}
                        <div class="col s12 m12 l12 center-align">
                            <a class="btn" href="{% url 'Index'  %}">Public feed</a>
                        </div>
                        {% else %}
                        <div class="col s12 m12 l12 center-align">
                            <a class="btn" href="{% url 'personalised_index' username=user.username %}">Personalised feed</a>
                        </div>
                        {% endif %}


                {% else %}

                    {# If user is authenticated but NOT superuser #}
                    <!-- Notifications -->
                    <div class="col s4 m4 l4 center">
                        <a class="btn-small tooltipped" data-tooltip="Notifications" href="{% url 'all_notifications' %}"><i class="material-icons">notifications</i> </a>
                    </div>
                    <!-- User Profile -->
                    <div class="col s4 m4 l4 center">
                        <a class="btn-small tooltipped" data-tooltip="Profile" href="{% url "User Profile" user.username %}" ><i class="material-icons">person_pin</i></a>
                    </div>
                    <!-- Logout -->
                    <div class="col s4 m4 l4 center">
                        <a class="btn-small red tooltipped" data-tooltip="Logout" href="{% url 'Logout' %}"><i class="material-icons">power_settings_new</i></a>
                    </div>

                    {% if user.username in request.build_absolute_uri and 'personalised/' in request.build_absolute_uri %}
                        <div class="col s12 m12 l12 center-align">
                            <a class="btn" href="{% url 'Index' %}">Public feed</a>
                        </div>
                    {% else %}
                        <div class="col s12 m12 l12 center-align">
                            <a class="btn" href="{% url 'personalised_index' username=user.username %}">Personalised feed</a>
                        </div>
                    {% endif %}

                {% endif %}

            {% else %}

                <!-- Login -->
                <div class="col s6 m6 l6 center">
                    <a class=" waves-light btn modal-trigger" href="#modal1">Login</a>
                </div>

                <!-- Sign Up -->
                <div class="col s6 m6 l6 center">
                    <a class=" waves-light btn modal-trigger" href="#modal2">Signup</a>
                </div>

            {% endif %}
            </div>
        </ul>
        {# Trigger for mobile Side Nav #}
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

{# Including Login and Signup Modal #}
{% include 'home/modal_login.html' %}
{% include 'home/modal_signup.html' %}
