{% comment %}
    Context Variables:
    form - Login Form
    user - Logged in User
    addpostform - Post Add Form
    posts - Posts
    tags - Tags
    user_profiles - Profiles of users
    comments - Comments
    comment_form - Comment Form
{% endcomment %}
{% load static %}
<nav class="amber" role="navigation">

    <div class="nav-wrapper container">

        {% if user.is_authenticated %}
            <a id="logo-container" class="brand-logo">LOGO</a>
        {% else %}
            <a id="logo-container" class="brand-logo">Hi, User!</a>
        {% endif %}

        <ul class="right hide-on-med-and-down">

            {% if user.is_authenticated %}

                {% if user.is_superuser %}
                    <!-- Dashboard -->
                    <li>
                        <a class="btn tooltipped" data-tooltip="Dashboard" href="/admin/"><i class="material-icons">dashboard</i></a>
                    </li>

                {% endif %}
                <!-- Home -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Home" href="{% url 'Index' %}"><i class="material-icons">home</i></a>
                </li>
                <!-- User Profile -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Profile" href="{% url "User Profile" user.username %}" ><i class="material-icons">person_pin</i></a>
                </li>
                <!-- Logout -->
                <li>
                    <a class="btn red tooltipped" data-tooltip="Logout" href="{% url 'Logout' %}"><i class="material-icons">power_settings_new</i></a>
                </li>

            {% else %}
                <!-- Home -->
                <li>
                    <a class="btn tooltipped" data-tooltip="Home" href="{% url 'Index' %}"><i class="material-icons">home</i></a>
                </li>
                <!-- Login -->
                <li>
                    <a class=" waves-light btn modal-trigger" href="#modal1">Login</a>
                </li>
                <!-- Signup -->
                <li>
                    <a class=" waves-light btn modal-trigger" href="#modal2">Signup</a>
                </li>

            {% endif %}

        </ul>

        {# SideNav for Mobile view #}
        <ul id="nav-mobile" class="sidenav">

            {% if user.is_authenticated %}

                {% if user.is_superuser %}

                    {# If user is superuser #}
                    <div class="row">
                        <!-- Dashboard -->
                        <div class="col s4 m4 l4 center">
                            <a class="btn-small tooltipped" data-tooltip="Dashboard" href="/admin"><i class="material-icons">dashboard</i></a>
                        </div>
                        <!-- User Profile -->
                        <div class="col s4 m4 l4 center">
                            <a class="btn-small tooltipped" data-tooltip="Profile" href="{% url "User Profile" user.username %}" ><i class="material-icons">person_pin</i></a>
                        </div>
                        <!-- Logout -->
                        <div class="col s4 m4 l4 center">
                            <a class="btn-small red tooltipped" data-tooltip="Logout" href="{% url 'Logout' %}"><i class="material-icons">power_settings_new</i></a>
                        </div>

                    </div>

                {% else %}

                    {# If user is authenticated but NOT superuser #}
                    <!-- User Profile -->
                    <div class="col s6 m6 l6 center">
                        <a class="btn-small tooltipped" data-tooltip="Profile" href="{% url "User Profile" user.username %}" ><i class="material-icons">person_pin</i></a>
                    </div>
                    <!-- Logout -->
                    <div class="col s6 m6 l6 center">
                        <a class="btn-small red tooltipped" data-tooltip="Logout" href="{% url 'Logout' %}"><i class="material-icons">power_settings_new</i></a>
                    </div>

                {% endif %}

            {% else %}

                <!-- Login -->
                <li>
                    <a class=" waves-light btn modal-trigger" href="#modal1">Login</a>
                </li>

                <!-- Sign Up -->
                <li>
                    <a class=" waves-light btn modal-trigger" href="#modal2">Signup</a>
                </li>

            {% endif %}
        </ul>
        {# Trigger for mobile Side Nav #}
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

{# Including Login and Signup Modal #}
{% include 'home/login_modal.html' %}
{% include 'home/signup_modal.html' %}
