{% load static %}
<ul class="collection">
{#    <li class="collection-item amber">#}
{#        <a class="btn-flat" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>#}
{#    </li>#}
    <li class="collection-item amber center-align">
        <h6>Calender</h6>
    </li>
    <li class="calendar-li collection-item">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23E4C441&amp;ctz=Asia%2FKolkata&amp;src=YW5raXQuc2FuZ3dhbjE5OTlAZ21haWwuY29t&amp;src=dnIyaXRvNjY4aTNuNmRrajhvOW1qMHI4Zm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTAwNDAyMzkwODMzMzY3MjkyNzU3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;color=%237986CB&amp;color=%2333B679&amp;color=%23007b83&amp;color=%230B8043" style="border-width:0" width="300px"  height="400px" frameborder="0" scrolling="no"></iframe>
    </li>
</ul>