{% load materializecss %}
    {# Signup Modal #}
    <div id="modal2" class="modal modal-fixed-footer">
        <form id="signup_form" class="col s12" method="post" action="{% url 'ajax_signup' %}" data-success="{% url 'Index' %}">
            <div class="modal-content">
                <h4>Signup Here</h4>

                <div class="row">
                {% csrf_token %}
                    {{ form.username|materializecss:'s12 m12, icon=account_circle' }}
                    <input type="hidden" id="id_username_hidden">
                    {{ form.first_name|materializecss:'s6 m6, icon=account_circle' }}
                    {{ form.last_name|materializecss:'s6 m6, icon=account_circle' }}
                    {{ form.email|materializecss:'s12 m12, icon=mail' }}
                     <div class="input-field col s12 m12  ">
                        <ul id="id_choice">
                            <i class="material-icons prefix">mail</i>
                            <label>Signup as:</label>
                            <p>
                                <label for="id_choice_0">
                                    <input class="with-gap st_choice" type="radio" name="choice" value="teacher" required id="id_choice_0" checked/>
                                    <span>Teacher</span>
                                </label>
                            </p>
                            <p>
                                <label for="id_choice_1">
                                    <input class="with-gap st_choice" type="radio" name="choice" value="student" required id="id_choice_1" />
                                    <span>Student</span>
                                </label>
                            </p>
                        </ul>
                     </div>
                    {{ form.password1|materializecss:'s12 m12, icon=account_circle' }}
                    <input type="hidden" id="id_password1_hidden">
                    {{ form.password2|materializecss:'s12 m12, icon=account_circle' }}
                    <input type="hidden" id="id_password2_hidden">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-light" type="submit" name="action" onclick="submitfunsignup();">Signup
                        <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>