{% load materializecss %}
{# Adding post #}
{% if user.is_authenticated %}
    <form class="post_form" method="post" action="{% url 'ajax_add_post' %}" author="{{ user.username }}" data-success="{% url 'User Profile' user.username %}">
        <ul class="collapsible white post-form-collapse" >
            <li>
                <div class="collapsible-header tooltipped" data-position="top" data-tooltip="Click to Add Post!">
                    <strong>Add Post</strong>
                </div>
                <div class="collapsible-body">
                    {% csrf_token %}
                    {{ addpostform.media }}
                    {{ addpostform.title|materializecss:'col s6 m6, icon=account_circle' }}
                    {{ addpostform.tags|materializecss:'col s6 m6, icon=account_circle' }}
                    {{ addpostform.post_content }}
{#                    <span class="tooltipped" data-position="top" data-tooltip="Tick to save post as draft.">#}
{#                        {{ addpostform.draft|materializecss:'col s4 m4' }}#}
{#                    </span>#}
{#                    {{ addpostform.post_on_date|materializecss:'col s8 m8, icon=account_circle' }}#}
                    <button class="btn waves-light" type="submit" name="action">Post
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </li>
        </ul>
    </form>
{% else %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header tooltipped" onclick="addToast('Login to add post!')" data-position="top" data-tooltip="Click to Add Post!">
                <a class="btn-flat modal-trigger white black-text col s12 m12 l12" href="#modal1" id="add-post-without-login" >
                    <strong>Add Post</strong>
                </a>
            </div>
        </li>
    </ul>
{% endif %}


{# CONTAINER #}
{#{% if user.is_authenticated %}#}
{#    <ul class="collection with-header" >#}
{#        <form method="post" action="{% url 'Add Post' %}">#}
{#        <li class="collection-header">#}
{#            <strong>Add Post</strong>#}
{#        </li>#}
{#        <li class="collection-item">#}
{#            {% csrf_token %}#}
{#            {{ addpostform.media }}#}
{#            {{ addpostform.title|materializecss:'col s6 m6, icon=account_circle' }}#}
{#            {{ addpostform.tags|materializecss:'col s6 m6, icon=account_circle' }}#}
{#            {{ addpostform.post_content }}#}
{#            <div>#}
{#                <button class="btn waves-light" type="submit" name="action">Post#}
{#                <i class="material-icons right">send</i>#}
{#            </button>#}
{#            </div>#}
{##}
{#        </li>#}
{#        </form>#}
{#    </ul>#}
{#{% else %}#}
{#    <ul class="collapsible">#}
{#        <li>#}
{#            <div class="collapsible-header" onclick="addPostToast()">#}
{#                <a class="btn-flat modal-trigger white black-text col s12 m12 l12" href="#modal1" id="add-post-without-login" >#}
{#                    <strong>Add Post</strong>#}
{#                </a>#}
{#            </div>#}
{#        </li>#}
{#    </ul>#}
{#{% endif %}#}
