{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% comment %}
    Context Vars:
    'form': Login form,
    'profile': profile of naive user,
    'avatar_form': avatar change form,
    'native_user': native_user,
    'password_change_form': password_change_form,
    'tag_form': Tag Form
    'tags': All tags,
    'tags_subscribed': Tags Subscribed by native user,
{% endcomment %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
    {% include 'user_profile/navbar.html' %}

{#    <div class="row">#}
{#        <div class="col s12">#}
            <ul class="row tabs tabs-fixed-width tab-demo">
{#                <li class="tab col center">#}
{#                    <a href="{% url 'User Profile' native_user.username %}" target="_self">Reset</a>#}
{#                </li>#}
                <li class="tab col s3 m3 l3 center"><a class="active" href="#personal-info"><i class="material-icons small ">person</i></a></li>
                <li class="tab col s3 m3 l3 center"><a href="#subscribed-tags"><i class="material-icons small">subscriptions</i> </a></li>
                <li class="tab col s3 m3 l3 center"><a href="#notif"><i class="material-icons small">notifications</i></a></li>
                <li class="tab col s3 m3 l3 center"><a href="#security"><i class="material-icons small">security</i></a></li>
            </ul>
{#        </div>#}
{#    </div>#}


    <div class="row">
        <div class="col l3 hide-on-med-and-down">
            <ul class="collection">
                <li class="collection-item amber">
                    <h6><strong>Edit</strong></h6>
                </li>
                <li class="collection-item">
                    <strong>Personal Information</strong>
                </li>
                <li class="collection-item">
                    <strong>Subscription</strong>
                </li>
                <li class="collection-item">
                    <strong>Notifications</strong>
                </li>
                <li class="collection-item">
                    <strong>Security</strong>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l9">
            <ul class="collection">

            <!-- Personal Information Section -->
                <div id="personal-info">
                    <li class="collection-item amber">
                        <h6><strong>Personal Information</strong></h6>
                    </li>
                    <li class="collection-item white black-text">
                        <div class="row">
                            <div class="col s12 m2 l2">
                                <strong>Profile Picture</strong>
                            </div>
                            <form class="col s12 m10 l10" method="post" enctype="multipart/form-data" action="{% url 'Avatar Upload' native_user.username %}">
                                <div class="row">
                                    <img src="{{ profile.avatar.url }}" class="circle col s4 m3 l3" alt="profile-picture">
                                    {% csrf_token %}
                                    {{ avatar_form|materializecss:'col s8 m7 l7' }}
                                    <div class="col s12 m2 l2 center">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col s12 m2 l2">
                                <strong>Name</strong>
                            </div>
                            <form class="col s12 m10 l10" action="{% url 'change_name' native_user.username %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12 m5 l5">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="first_name" type="text" class="validate" name="first_name" value="{{ native_user.first_name }}">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s12 m5 l5">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="last_name" type="tel" class="validate" name="last_name" value="{{ native_user.last_name }}">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                    <div class="input-field col s12 m2 l2 center">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col s12 m2 l2">
                                <strong>Email</strong>
                            </div>
                            <form class="col s12 m10 l10" method="post" action="{% url 'change_email' native_user.username %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12 m8 l8">
                                        <i class="material-icons prefix">email</i>
                                        <input id="email" type="text" class="validate" name="email" value="{{ native_user.email }}">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s6 m2 l2">
                                        {% if profile.is_email_verified %}
                                            <a class="btn green"><i class="material-icons">check</i>Verified</a>
                                        {% else %}
                                            <a class="btn tooltipped" data-tooltip="Verify your email." href="{% url 'verify_email' native_user.username %}">Verify</a>
                                        {% endif %}
                                    </div>
                                    <div class="input-field col s6 m2 l2 center">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>

                    </li>
                </div>
            <!-- Personal Information Section Ended -->

            <!-- Subscription Section -->
                <div id="subscribed-tags">
                    <li class="collection-item amber">
                        <h6><strong>Subscribe</strong></h6>
                    </li>
                    <li class="collection-item white black-text" id="subscribed-tags">
                        <div class="row">
                            <div class="col s12 m2 l2">
                                <strong>Follow Topics</strong>
                            </div>
                            <div class="col s12 m10 l10">
                                <div class="row">
{#                                    <form id="subscribe-tag-form" method="post" action="">#}
{#                                        {% csrf_token %}#}
{#                                        {{ tag_form|materializecss:'col s12 m8 l8' }}#}
                                        <p>Follow topics to get Email notification.</p>
                                        <div class="col s12 m8 l8">
                                            {% for tag in tags %}
                                                {% if tag in tags_subscribed %}
                                                    <a class="chip tags-to-subscribe amber" href="{% url 'subscribe_to_tag_toggle' username=native_user.username tag=tag %}" id="{{ tag }}">{{ tag }}</a>
                                                {% else %}
                                                    <a class="chip tags-to-subscribe" href="{% url 'subscribe_to_tag_toggle' username=native_user.username tag=tag %}" id="{{ tag }}">{{ tag }}</a>
                                                {% endif %}
                                            {% endfor %}
{#                                            <div class="col s12 m2 l2 center">#}
{#                                                <button class="btn" type="submit">Add</button>#}
{#                                            </div>#}
                                        </div>
{#                                    </form>#}
                                </div>
                                <div class="divider"></div>
                            </div>
{#                            <div class="col s12 m10 l10">#}
{#                                <strong>Follow Users</strong>#}
{#                            </div>#}
                        </div>
                    </li>
                </div>
                <!-- Subscription Section ended -->

                <!-- Notification Section -->
                <div id="notif">
                    <li class="collection-item amber">
                        <h6><strong>Notification</strong></h6>
                    </li>
                    <li class="collection-item white black-text" id="subscribed-tags">
                        <div class="row">
                            <div class="col s12 m2 l2">
                                <strong>Email Notification</strong>
                            </div>
                            <div class="col s12 m10 l10">
                                <div class="row">
                                    {% if profile.is_subscribed %}
                                        <div class="col s12 m8 l9">
                                            Unsubscribe from Email Notifications.
                                        </div>
                                        <div class="col s12 m4 l3 center">
                                            <a class="btn" href="{% url 'subscription_toggle' native_user.username %}">Unsubscribe</a>
                                        </div>
                                    {% else %}
                                        <div class="col s12 m8 l9">
                                            Subscribe to get Email Notifications.
                                        </div>
                                        <div class="col s12 m4 l3 center">
                                            <a class="btn" href="{% url 'subscription_toggle' native_user.username %}">Subscribe</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="divider"></div>
                            </div>
                            <br>
                            <div class="col s12 m2 l2">
                                <strong>Sound Notification</strong>
                            </div>
                            <div class="col s12 m10 l10">
                                <div class="row">
                                    {% if profile.is_sound_on %}
                                        <div class="col s12 m8 l9">
                                            Sound notification is currently on. Turn off sound notification.
                                        </div>
                                        <div class="col s12 m4 l3 center">
                                            <a class="btn" href="{% url 'sound_notification_toggle' native_user.username %}">Off</a>
                                        </div>
                                    {% else %}
                                        <div class="col s12 m8 l9">
                                            Sound notification is currently off. Turn on sound notification.
                                        </div>
                                        <div class="col s12 m4 l3 center">
                                            <a class="btn" href="{% url 'sound_notification_toggle' native_user.username %}">On</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="divider"></div>

                            </div>
                        </div>
                    </li>
                </div>
                <!-- Notification Section Ended -->

                <!-- Security Section -->
                <div id="security">
                    <li class="collection-item amber">
                        <h6><strong>Security</strong></h6>
                    </li>
                    <li class="collection-item white black-text" id="security">
                        <div class="row">
                            {% if profile.is_password_set is True %}
                                    <!-- If user password already set -->
                                <div class="col s12 m2 l2">
                                    <strong>Change Password</strong>
                                </div>
                                <form class="col s12 m10 l10" method="post" action="{% url 'Change Password' native_user.username %}">
                                    <div class="row">
                                        {% csrf_token %}
                                        {{ password_change_form.new_password1|materializecss:'col s12 m7 l7, icon=fiber_new' }}
                                        {{ password_change_form.new_password2|materializecss:'col s12 m5 l5, icon=find_replace' }}
                                        {{ password_change_form.old_password|materializecss:'col s12 m6 l6, icon=find_in_page' }}
                                        <div class="col s12 m6 l6 center">
                                            <button class="btn" type="submit">Save</button>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                </form>
                            {% else %}
                                    <!-- If user password NOT set already -->
                                <div class="col s12 m2 l2">
                                    <strong>Set Password</strong>
                                </div>
                                <form class="col s12 m10 l10" method="post" action="{% url 'set_password' native_user.username %}">
                                    <div class="row">
                                        {% csrf_token %}
                                        <div class="input-field col s12 m10 l5">
                                            <i class="material-icons prefix">fiber_new</i>
                                            <input id="password1" type="password" class="validate" name="password1">
                                            <label for="password1">Password</label>
                                        </div>
                                        <div class="input-field col s12 m10 l5">
                                            <i class="material-icons prefix">find_replace</i>
                                            <input id="password2" type="password" class="validate" name="password2">
                                            <label for="password2">Re-enter Password</label>
                                        </div>
                                        <div class="col s12 m6 l2 center">
                                            <button class="btn" type="submit">Save</button>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                </form>
                            {% endif %}
                        </div>
                    </li>
                </div>
            <!-- Security Section Ended -->
            </ul>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}




{#        <li class="collection-item amber lighten-1">#}
{#            <a class="modal-trigger btn-flat" href="#modal">#}
{#                Add Categories#}
{#            </a>#}
{#        </li>#}
{#        <li class="collection-item amber lighten-1">#}
{#            <a class="modal-trigger btn-flat" href="#modal-avatar">#}
{#                Add/Change Avatar#}
{#            </a>#}
{#        </li>#}
{#        <li class="collection-item amber lighten-2">#}
{#            <a class="modal-trigger btn-flat" href="#modal-change-user-password">#}
{#                Change Password#}
{#            </a>#}
{#        </li>#}