{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% comment %}
    Context Vars:
    'form': Login form,
    'profile': profile of naive user,
    'avatar_form': avatar change form,
    'native_user': native_user,
    'password_change_form': password_change_form,
{% endcomment %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
    {% include 'user_profile/navbar.html' %}

{#    <div class="row">#}
{#        <div class="col s12">#}
            <ul class="row tabs tabs-fixed-width tab-demo">
{#                <li class="tab col center">#}
{#                    <a href="{% url 'User Profile' native_user.username %}" target="_self">Reset</a>#}
{#                </li>#}
                <li class="tab col s3 m3 l3 center"><a class="active" href="#personal-info"><i class="material-icons small ">person</i></a></li>
                <li class="tab col s3 m3 l3 center"><a href="#subscribed-tags"><i class="material-icons small">subscriptions</i> </a></li>
                <li class="tab col s3 m3 l3 center"><a href="#notif"><i class="material-icons small">notifications</i></a></li>
                <li class="tab col s3 m3 l3 center"><a href="#security"><i class="material-icons small">security</i></a></li>
            </ul>
{#        </div>#}
{#    </div>#}


    <div class="row">
        <div class="col m5 l3 hide-on-small-and-down">
            <ul class="collection">
                <li class="collection-item amber">
                    <h6><strong>Edit</strong></h6>
                </li>
                <li class="collection-item">
                    <strong>Personal Information</strong>
                </li>
                <li class="collection-item">
                    <strong>Subscription</strong>
                </li>
                <li class="collection-item">
                    <strong>Notifications</strong>
                </li>
                <li class="collection-item">
                    <strong>Security</strong>
                </li>
            </ul>
        </div>
        <div class="col s12 m7 l9">
            <ul class="collection">

                <div id="personal-info">
                    <li class="collection-item amber">
                        <h6><strong>Personal Information</strong></h6>
                    </li>
                    <li class="collection-item white black-text">
                        <div class="row">
                            <div class="col s2 m2 l2">
                                <strong>Profile Picture</strong>
                            </div>
                            <form class="col s10 m10 l10" method="post" enctype="multipart/form-data" action="{% url 'Avatar Upload' native_user.username %}">
                                <div class="row">
                                    <img src="{{ profile.avatar.url }}" class="circle col s3 m3 l3" alt="profile-picture">
                                    {% csrf_token %}
                                    {{ avatar_form|materializecss:'col s7 m7 l7' }}
                                    <div class="col s2 m2 l2">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col s2 m2 l2">
                                <strong>Name</strong>
                            </div>
                            <form class="col s10 m10 l10">
                                <div class="row">
                                    <div class="input-field col s5 m5 l5">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix" type="text" class="validate" value="{{ native_user.first_name }}">
                                        <label for="icon_prefix">First Name</label>
                                    </div>
                                    <div class="input-field col s5 m5 l5">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_telephone" type="tel" class="validate" value="{{ native_user.last_name }}">
                                        <label for="icon_telephone">Surname</label>
                                    </div>
                                    <div class="input-field col s2 m2 l2">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col s2 m2 l2">
                                <strong>Email</strong>
                            </div>
                            <form class="col s10 m10 l10">
                                <div class="row">
                                    <div class="input-field col s10 m10 l10">
                                        <i class="material-icons prefix">email</i>
                                        <input id="icon_prefix" type="text" class="validate" value="{{ native_user.email }}">
                                        <label for="icon_prefix">Email</label>
                                    </div>
                                    <div class="input-field col s2 m2 l2">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>

                    </li>
                </div>

                <div id="subscribed-tags">
                    <li class="collection-item amber">
                        <h6><strong>Subscribe</strong></h6>
                    </li>
                    <li class="collection-item white black-text" id="subscribed-tags">
                        Subsribe to tags
                    </li>
                </div>

                <div id="notif">
                    <li class="collection-item amber">
                        <h6><strong>Notification</strong></h6>
                    </li>
                    <li class="collection-item white black-text" id="subscribed-tags">
                        Notification settings
                    </li>
                </div>

                <div id="security">
                    <li class="collection-item amber">
                        <h6><strong>Security</strong></h6>
                    </li>
                    <li class="collection-item white black-text" id="security">
                        <div class="row">
                            <div class="col s2 m2 l2">
                                <strong>Change Password</strong>
                            </div>
                            <form class="col s10 m10 l10" method="post" action="{% url 'Change Password' native_user.username %}">
                                <div class="row">
                                    {% csrf_token %}
                                    {{ password_change_form.new_password1|materializecss:'col s7 m7 l7, icon=fiber_new' }}
                                    {{ password_change_form.new_password2|materializecss:'col s5 m5 l5, icon=find_replace' }}
                                    {{ password_change_form.old_password|materializecss:'col s6 m6 l6, icon=find_in_page' }}
                                    <div class="col s6 m6 l6 center">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}




{#        <li class="collection-item amber lighten-1">#}
{#            <a class="modal-trigger btn-flat" href="#modal">#}
{#                Add Categories#}
{#            </a>#}
{#        </li>#}
{#        <li class="collection-item amber lighten-1">#}
{#            <a class="modal-trigger btn-flat" href="#modal-avatar">#}
{#                Add/Change Avatar#}
{#            </a>#}
{#        </li>#}
{#        <li class="collection-item amber lighten-2">#}
{#            <a class="modal-trigger btn-flat" href="#modal-change-user-password">#}
{#                Change Password#}
{#            </a>#}
{#        </li>#}