{% load static %}
{% load notifications_tags %}
{% load has_group %}
{% notifications_unread as unread_count %}
{% live_notify_badge as live_unread_count %}
<ul class="collection">
    <li class="collection-item amber">
        <div class="user-view">
            {% if profile.avatar %}
                <a><img class="circle materialboxed" src="{{ profile.avatar.url }}"></a>
            {% endif %}
            <p>
                <span class="name">
                    <strong>{{ native_user.first_name }} {{ native_user.last_name }}</strong>
                    {% if user != native_user %}
                        {% if native_user in followed_users %}
                            <!-- Already followed -->
                            <a class="btn-small btn-flat tooltipped green" data-position="right" data-tooltip="Followed">
                                <i class="material-icons">check</i>
                            </a>
                            <a class="btn-small tooltipped red unfollow" data-tooltip="Unfollow" data-position="right" href="{% url 'unfollow_user' user.username native_user.username %}">
                                <i class="material-icons tiny">cancel</i>
                            </a>
                        {% else %}
                        <a class="btn-small tooltipped follow" id="follow-{{ native_user.pk }}" href="{% url 'follow_user' user.username native_user.username %}" data-tooltip="Follow" data-position="right">
                            <i class="material-icons tiny">person_add</i>
                        </a>
                        {% endif %}
                    {% else %}
                        <a class="modal-trigger btn btn-flat tooltipped" data-position="right" data-tooltip="Followed" href="#modal-followed">
                            <i class="material-icons">contacts</i>
                        </a>
                        <a class="modal-trigger btn btn-flat tooltipped" data-position="right" data-tooltip="Followers" href="#modal-followers">
                            <i class="material-icons">directions_run</i>
                        </a>
                    {% endif %}
                </span>
            </p>
            <span class="email">{{ native_user.email }}</span>
        </div>
    </li>
    <div class="divider"></div>

        <li class="collection-item amber lighten-1">
            <a class="modal-trigger btn-flat" href="#modal-quiz-performance" >
                Quiz Performance
            </a>
        </li>
    {% if native_user == user and not user.is_superuser %}
        <li class="collection-item amber lighten-1">
            <a class="btn-flat" href="{% url 'edit_profile' user.username %}">
                Edit Profile
                <i class="material-icons">edit</i>
            </a>
        </li>
        <li class="collection-item amber lighten-1">
            <a class="modal-trigger btn-flat" href="#modal-manage-calendar" >
                Manage Calendar
            </a>
        </li>
        {% if user|has_group:'Teacher' %}
        <li class="collection-item amber lighten-1">
            <a class="btn-flat modal-trigger" href="#modal-permissions">
                Permissions
            </a>
        </li>
        {% endif %}
        <li class="collection-item amber lighten-2">
            <a class="modal-trigger btn-flat" href="#modal-pending-posts">
                Pending Posts <span class="new badge red">{{ native_pending_posts.count }}</span>
            </a>
        </li>
        <li class="collection-item amber lighten-2">
            <a class="btn-flat modal-trigger" href="#modal-drafts">
                Drafts
            </a>
        </li>
    {% endif %}
    {% if native_user == user and user.is_superuser %}
        <li class="collection-item amber lighten-1">
            <a class="btn-flat" href="{% url 'edit_profile' user.username %}">
                Edit Profile
                <i class="material-icons">edit</i>
            </a>
        </li>
        <li class="collection-item amber lighten-1">
            <a class="modal-trigger btn-flat" href="#modal-manage-calendar" >
                Manage Calendar
            </a>
        </li>

{#        <li class="collection-item amber lighten-1">#}
{#            <a class="btn-flat modal-trigger" href="#modal-ask-perm">#}
{#                Ask Permission#}
{#            </a>#}
{#        </li>#}

        <li class="collection-item amber lighten-1">
            <a class="modal-trigger btn-flat" href="#modal-verify-posts">
                Verify Posts

{#                {% if live_unread_count > 0 %}#}
{#                    <span class="new badge red">#}
{#                    {{ live_unread_count }}#}
{#                    </span>#}
{#                {% else %}#}
                    <span class="badge red white-text">
{#                        {{ unread_count }}#}
                        {{ pending_posts.count }}
                    </span>
{#                {% endif %}#}
            </a>
        </li>
        <li class="collection-item amber lighten-2">
            <a class="btn-flat modal-trigger" href="#modal-drafts">
                Drafts
            </a>
        </li>
    {% endif %}
</ul>

<ul class="collection">
    <li class="collection-item amber center-align">
        <h6>Filter posts</h6>
    </li>
    <li class="collection-item">
        {% for tag in tags %}
            {% if tag.name in request.build_absolute_uri %}
                <a class="chip teal white-text" href="{% url 'filter_post_user_profile' native_user.username tag.name %}">{{ tag.name }}</a>
            {% else %}
                <a class="chip" href="{% url 'filter_post_user_profile' native_user.username tag.name %}">{{ tag.name }}</a>
            {% endif %}
        {% endfor %}
    </li>
    <li class="row collection-item">
        <a class="col s12 m12 l12 center btn" href="{% url 'User Profile' native_user.username %}">Reset</a>
    </li>
</ul>


{% include 'user_profile/modal_drafts.html' %}

{% include 'user_profile/modal_permission.html' %}

{% include 'user_profile/modal_followed.html' %}

{% include 'user_profile/modal_following.html' %}