{% load static %}
{% load notifications_tags %}
{% load has_group %}
{% notifications_unread as unread_count %}
{% live_notify_badge as live_unread_count %}
<ul class="collection">
    <li class="collection-item white-text" style="background: var(--background4)">
        <div class="user-view">
            {% if profile.avatar %}
                <a><img class="circle materialboxed" src="{{ profile.avatar.url }}"></a>
            {% endif %}
            <p>
                <span class="name">
                    <strong>{{ native_user.first_name }} {{ native_user.last_name }}</strong>
                    {% if user != native_user %}
                        {% if native_user in followed_users %}
                            <!-- Already followed -->
                            <a class="btn-small btn-flat tooltipped green" data-position="right" data-tooltip="Followed">
                                <i class="material-icons">check</i>
                            </a>
                            <a class="btn-small tooltipped red unfollow" data-tooltip="Unfollow" data-position="right" href="{% url 'unfollow_user' user.username native_user.username %}">
                                <i class="material-icons tiny">cancel</i>
                            </a>

                        {% elif user.is_authenticated %}
                        <a class="btn-small tooltipped follow" style="background: #acca66;" id="follow-{{ native_user.pk }}" href="{% url 'follow_user' user.username native_user.username %}" data-tooltip="Follow" data-position="right">

                            <i class="material-icons tiny">person_add</i>
                        </a>
                        {% endif %}
                    {% else %}
                        <a class="modal-trigger btn btn-flat tooltipped" style="background: #acca66;" data-position="right" data-tooltip="Followed" href="#modal-followed">
                            <i class="material-icons">contacts</i>
                        </a>
                        <a class="modal-trigger btn btn-flat tooltipped" style="background: #acca66;" data-position="right" data-tooltip="Followers" href="#modal-followers">
                            <i class="material-icons">directions_run</i>
                        </a>
                    {% endif %}
                </span>
            </p>
            <span class="email">{{ native_user.email }}</span>
        </div>
    </li>

{#    <div class="divider"></div>#}
{#        <li class="collection-item amber lighten-1">#}
{#            <a class="modal-trigger btn-flat" href="#modal-quiz-performance" >#}
{#                Quiz Performance#}
{#            </a>#}
{#        </li>#}

    <div class="divider"></div>

    {% if native_user == user and not user.is_superuser %}
        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="btn-flat white-text" href="{% url 'edit_profile' user.username %}">
                Edit Profile
                <i class="material-icons">edit</i>
            </a>
        </li>

        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="modal-trigger btn-flat white-text" href="{% url 'get_user_calendar' user.username %}"
            id="manage-calendar" >
                Manage Calendar
            </a>
        </li>
        {% if user|has_group:'Teacher' %}
        
        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="btn-flat modal-trigger white-text" href="#modal-permissions">
                Permissions
            </a>
        </li>
        {% else %}
            <li class="collection-item lighten-1" style="background: var(--background4)">
                <a class="modal-trigger btn-flat white-text" href="#modal-quiz-performance" >
                    Quiz Performance
                </a>
            </li>
            <li class="collection-item lighten-1" style="background: var(--background4)">
                {% with quiz_home="quiz_home" %} 
                <a class="modal-trigger btn-flat white-text" href="{%url quiz_home user.username %}" >
                    Explore Quizzes
                </a>
                {% endwith %}
            </li>
        {% endif %}
        <li class="collection-item lighten-2" style="background: var(--background4)">
            <a class="modal-trigger btn-flat white-text" href="#modal-pending-posts">
                Pending Posts
{#                <span class="new badge red">{{ native_pending_posts.count }}</span>#}
            </a>
        </li>
        <li class="collection-item lighten-2" style="background: var(--background4)">
            <a class="btn-flat modal-trigger white-text" href="#modal-drafts">
                Drafts
            </a>
        </li>
    {% endif %}
    {% if native_user == user and user.is_superuser %}
        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="btn-flat white-text" href="{% url 'edit_profile' user.username %}">
                Edit Profile
                <i class="material-icons">edit</i>
            </a>
        </li>
        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="modal-trigger btn-flat white-text" href="#modal-quiz-performance" >
                Quiz Performance
            </a>
        </li>
        <li class="collection-item lighten-1" style="background: var(--background4)">
            {% with quiz_home="quiz_home" %} 
            <a class="modal-trigger btn-flat white-text" href="{%url quiz_home user.username %}" >
                Explore Quizzes
            </a>
            {% endwith %}
        </li>
        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="modal-trigger btn-flat white-text" href="{%url 'get_user_calendar' user.username %}" id="manage-calendar" >
                Manage Calendar
            </a>
        </li>

{#        <li class="collection-item amber lighten-1">#}
{#            <a class="btn-flat modal-trigger" href="#modal-ask-perm">#}
{#                Ask Permission#}
{#            </a>#}
{#        </li>#}

        <li class="collection-item lighten-1" style="background: var(--background4)">
            <a class="modal-trigger btn-flat white-text" href="#modal-verify-posts">
                Verify Posts

{#                {% if live_unread_count > 0 %}#}
{#                    <span class="new badge red">#}
{#                    {{ live_unread_count }}#}
{#                    </span>#}
{#                {% else %}#}
                    <span class="badge red white-text">
{#                        {{ unread_count }}#}
                        {{ pending_posts.count }}
                    </span>
{#                {% endif %}#}
            </a>
        </li>
        <li class="collection-item lighten-2" style="background: var(--background4)">
            <a class="btn-flat modal-trigger white-text" href="#modal-drafts">
                Drafts
            </a>
        </li>
    {% endif %}
</ul>

<ul class="collection">
    <li class="collection-item white-text center-align" style="background: var(--background3)">
        <h6>Filter posts</h6>
    </li>
    {% if not user.is_authenticated %}
        <!-- User not logged in -->
        <li class="collection-item" style="background: var(--background2)">
            Please login to access this feature.
        </li>
    {% else %}
        <!-- User is logged in -->
            <li class="collection-item" style="background: var(--background2)">
                {% if '/most-liked/' in request.build_absolute_uri %}
                    <a class="chip teal white-text" href="{% url 'most_liked_user_profile' native_user.username %}">Most liked</a>
                {% else %}
                    <a class="chip" href="{% url 'most_liked_user_profile' native_user.username %}">Most liked</a>
                {% endif %}
                {% if '/older-first/' in request.build_absolute_uri %}
                    <a class="chip teal white-text" href="{% url 'older_first_user_profile' native_user.username %}">Older First</a>
                {% else %}
                    <a class="chip" href="{% url 'older_first_user_profile' native_user.username %}">Older First</a>
                {% endif %}
            </li>

            <li class="collection-item" style="background: var(--background2)">
                {% for tag in tags %}
                    {% if tag.name in request.build_absolute_uri %}
                        <a class="chip teal white-text" href="{% url 'filter_post_user_profile' native_user.username tag.name %}">{{ tag.name }}</a>
                    {% else %}
                        <a class="chip" href="{% url 'filter_post_user_profile' native_user.username tag.name %}">{{ tag.name }}</a>
                    {% endif %}
                {% endfor %}
            </li>
            <li class="row collection-item" style="background: var(--background2)">
                <a class="col s12 m12 l12 center btn" href="{% url 'Index' %}">Reset</a>
            </li>
    {% endif %}
</ul>

<ul class="collection advanced">
                <li class="collection-item white-text center-align" style="background: var(--background3)">
                    <h6>Advanced filter</h6>
                </li>
                <li class="collection-item" style="background: var(--background2)">
                <form method="post"action="">
                    {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 m12 l12">
{#                        <i class="material-icons prefix">account_circle</i>#}
{#                        <select multiple>#}
                            {% for tag in tags %}
{#                                {% if tag in native_post.tags.all %}#}
{#                                    <option value="{{ forloop.counter }}" selected>{{ tag }}</option>#}
{#                                {% else %}#}
{#                                    <option value="{{ forloop.counter }}">{{ tag }}</option>#}
{#                                {% endif %}#}

                                <a class="chip advanced-filter-chip" href="" id="">{{ tag }}</a>
                            {% endfor %}
{#                        </select>#}
{#                        <label class="control-label col s6 m6 ">Post Tags</label>#}
                    </div>

                    <div class="col s6 m6 l6 center-align">
                        <a class="btn">Filter</a>
{#                        <a class="btn tooltipped" data-tooltip="Filter"><i class="material-icons tiny">filter_list</i></a>#}
{#                        <button class="col s12 l3 m3 tooltipped btn-small" data-tooltip="Filter" type="submit"><i class="material-icons tiny">filter_list</i></button>#}
                    </div>
                    <div class="col s6 m6 l6 center">
                        <a class="center btn" href="{% url 'Index' %}">Reset</a>
                    </div>
                </div>
                </form>
            </li>
</ul>

{% include 'user_profile/modal_drafts.html' %}

{% include 'user_profile/modal_permission.html' %}

{% include 'user_profile/modal_followed.html' %}

{% include 'user_profile/modal_following.html' %}

