{% load materializecss %}
{% load static %}
<div id="modal-verify-posts" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Verify Posts</h4>
            <div class="row">
            {% if pending_posts.count == 0 %}
                No pending posts to approve right now.
            {% else %}
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Post Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="verify-tbody">
                        {% for pending_post in pending_posts %}
                            <tr>
                                <td>
                                    <a class="chip" href="{% url 'User Profile' pending_post.author.username %}">
                                    {% for user_profile in user_profiles %}
                                        {% if user_profile.user == pending_post.author %}
                                            {% if user_profile.avatar %}
                                                <img src="{{ user_profile.avatar.url }}">
                                            {% endif %}
                                                {{ pending_post.author }}
                                        {% endif %}
                                    {% endfor %}


                                    </a>
                                </td>
                                <td>{{ pending_post.title }}</td>
                                <td>
{#                                        <a><i class="material-icons">check_circle</i> </a>#}
                                    <a class="tooltipped" data-tooltip="Detail view" href="{% url 'post_detail' pending_post.slug %}">
                                        <i class="material-icons">remove_red_eye</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            </div>
        </div>
</div>
