{% load static %}
{% if user == native_user %}
    {% include 'home/add_post.html' %}
{% endif %}
{% if native_posts %}
    {% for native_post in native_posts %}
        <ul class="collection with-header" >
            <li class="collection-header">
                <h4 id="post-head-m-down" class="hide-on-med-and-down">{{ native_post.title|safe }}</h4>
                <h4 id="post-head-s-down-l" class="hide-on-small-and-down hide-on-large-only">{{ native_post.title|safe }}</h4>
                <h4 id="post-head-m-up" class="hide-on-med-and-up">{{ native_post.title|safe }}</h4>
                <p class="row">
                    <span class="col s8 m8 l8">
                        <a href="{% url 'User Profile' native_user.username %}" class="chip">
                            {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}">
                            {% else %}
                                <img src="{% static 'default-profile-picture.jpg' %}">
                            {% endif %}
                            {{ native_post.author }}
                        </a>
                    </span>
                    <span class="col s4 m4 l4">{{ native_post.published|timesince }} ago.</span>
                </p>
            </li>
            <li class="collection-item">
                Tags :
                {% for native_post_tag in native_post.tags.all %}
                    <a class="chip">{{ native_post_tag|safe }}</a>
                {% endfor %}
            </li>
            <li class="collection-item" id="p">
                {{ native_post.content|safe }}
            </li>
{#          <li class="collection-item">#}
{#          Share to:#}
{#          <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>#}
{#          </li>#}
        </ul>
    {% endfor %}
{% else %}
    <ul class="collection with-header" >
        <li class="collection-header">
            {% if native_user == user %}
                You have'nt added any posts yet, try to add one.
            {% else %}
                {{ native_user.first_name }}'s feed is empty. No posts to show.
            {% endif %}
        </li>
    </ul>
{% endif %}
{# Pagination #}
{% include 'user_profile/pagination_user_profile.html' %}
{# Pagination Ended #}