{% comment %}
        'profile': profile,
        'avatar_form': avatar_form,
        'form': form,
        'native_user': native_user,
        'native_posts': native_posts,
        'addpostform': addpostform,
        'password_change_form': password_change_form,
        'comments': comments,
        'comment_form': comment_form,
        'user_profiles': user_profiles,
        'tags': tags,
        'pending_posts': pending_posts,
        'native_pending_posts': native_pending_posts,
        'read_notif': read_notif,
        'unread_notif': unread_notif,
        'drafts': drafts,
        'quiz_results': quiz_results,
        'scheduled_posts': scheduled_posts,
        'followed_users': followed_users,
        'followers': followers,
{% endcomment %}
{#{% load notifications_tags %}#}
{% load static %}

<ul class="collection">

    {% if user == native_user %}
        <li class="collection-item white-text center" style="background: var(--background3)">
            <h6>Recent Notifications</h6>
        </li>
        <div class="notifications">
            {% if unread_notif %}
                {% for unread in unread_notif %}
                    <li class="collection-item avatar" style="background: var(--background2)">
                        <img src="{{ unread.data.dp_url }}" alt="" class="circle">
                        <span class="title">
                            <strong>
                                <a href="{% url 'User Profile' unread.sender.username %}">{{ unread.sender.first_name }}</a>
                                {{ unread.verb }}
                            </strong>
                        </span>
                        <p>
                            {% if unread.post is not None %}
                            <strong>Post title:</strong> <a href="{% url 'post_detail' unread.post.slug %}">{{ unread.post.title }}</a>
                            {% endif %}
                            <br>
                            <strong> -- {{ unread.timestamp|timesince }} ago.</strong>
                        </p>
{#                        <a href="{% url 'clear_notification' unread.pk %}" class="secondary-content tooltipped" data-tooltip="Clear">#}
{#                            <i class="material-icons">clear</i>#}
{#                        </a>#}
                    </li>
                {% endfor %}
            {% else %}
                <li class="collection-item" style="background: var(--background2)">
                    You don't have any recent notifications.
                </li>
            {% endif %}
        </div>
    {% endif %}
</ul>

{% comment %}
Object
    unread_count: 2
    unread_list: Array(2)
        0:
            action_object_content_type: null
            action_object_object_id: null
            actor: "pirate_ksh"
            actor_content_type: 8
            actor_object_id: "2"
            data: null
            deleted: false
            description: null
            emailed: false
            id: 2
            level: "info"
            public: true
            recipient: 1
            slug: 110911
            target_content_type: null
            target_object_id: null
            timestamp: "2019-09-05T18:52:30.025Z"
            unread: true
            verb: "A new post to verify."
            __proto__: Object
        1: {id: 1, level: "info", recipient: 1, unread: true, actor_content_type: 8, …}
        length: 2
        __proto__: Array(0)
    __proto__: Object
{% endcomment %}