{#{% load notifications_tags %}#}
{#{% load notification_tags %}#}
{% load notifications_tags %}
{% load static %}
{#{% include_notify_js_variables %}#}
{% live_notify_badge as live_unread_count %}

<ul class="collection">
{#    <li class="collection-item amber">#}
{#        <a class="btn-flat" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>#}
{#        #}
{#    </li>#}
    {% if user == native_user %}
        <li class="collection-item white-text center" style="background: var(--background3)">
            <h6>Quick Notifications</h6>
        </li>
        <div class="notifications">
            {#    <li class="collection-item amber">{% notifications_unread %}</li>#}
            {% live_notify_list as unread_list %}
                    {% if unread_list %}
                        {{ unread_list }}
                    {% else %}
                        <li class="collection-item" style="background: var(--background2)">
                            You don't have any recent notifications.
                        </li>
                    {% endif %}
            {% if read_notif %}
            {% for read in read_notif %}
                <li class="collection-item avatar" style="background: var(--background2)">
                    <img src="{{ read.actor.avatar.url }}" alt="" class="circle">
                    <span class="title">
                        <strong>
                            <a href="{% url 'User Profile' read.actor.user.username %}">{{ read.actor.user.first_name }}</a>
                            {{ read.verb }}
                        </strong>
                    </span>
                    <p>
                        <strong>Post title:</strong> <a href="{% url 'post_detail' read.target.slug %}">{{ read.target.title }}</a>
                        <br>
                        <strong> -- {{ read.timestamp|timesince }} ago.</strong>
                    </p>
    {#                <a href="{% url 'clear_notification' read.pk %}" class="secondary-content tooltipped" data-tooltip="Clear">#}
    {#                    <i class="material-icons">clear</i>#}
    {#                </a>#}
                </li>
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</ul>

{% comment %}
Object
    unread_count: 2
    unread_list: Array(2)
        0:
            action_object_content_type: null
            action_object_object_id: null
            actor: "pirate_ksh"
            actor_content_type: 8
            actor_object_id: "2"
            data: null
            deleted: false
            description: null
            emailed: false
            id: 2
            level: "info"
            public: true
            recipient: 1
            slug: 110911
            target_content_type: null
            target_object_id: null
            timestamp: "2019-09-05T18:52:30.025Z"
            unread: true
            verb: "A new post to verify."
            __proto__: Object
        1: {id: 1, level: "info", recipient: 1, unread: true, actor_content_type: 8, …}
        length: 2
        __proto__: Array(0)
    __proto__: Object
{% endcomment %}