{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% comment %}
    Context vars:
    profile: profile of native user
    native_user: User whose profile is currently open.
    native_posts: Post by native_user
    user: Logged in User
    avatar_form: Form to upload avatar
    form: User Signup Form
    addpostform: Form to add post
    password_change_form: Form to change User password
    comments - Comments
    comment_form - Comment Form
    user_profiles - Profiles of users
    tags - All tags
{% endcomment %}

{% block title %}
    {{ native_user.first_name }} {{ native_user.last_name }}
{% endblock %}

{% block content %}

    {% include 'user_profile/navbar_user_prof.html' %}
    <div class="row">

            {# Left side Catergory Menu #}
            <div class="col m4 l3 hide-on-small-and-down">
                {% include 'user_profile/left_side_bar_user_profile.html' %}
            </div>

            <div class="col s12 m8 l7">
                <div class="add-post-user-profile">
                    {% if user == native_user %}
                        {% include 'home/add_post.html' %}
                    {% endif %}
                </div>
                <div class=" post-display-user-profile">
                    {% include 'user_profile/post_display_user_profile.html' %}
                </div>
            </div>

            <div class="col m4 l2 hide-on-med-and-down">
                <ul class="collection">
                    <li class="collection-item amber">
                        <a class="btn-flat" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
                    </li>
                </ul>
            </div>
    </div>

    {% include 'user_profile/change_password_modal.html' %}
    {% include 'user_profile/avatar_modal.html' %}
{% endblock %}

