{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% comment %}
    Context vars:
    profile: profile of native user
    native_user: User whose profile is currently open.
    native_posts: Post by native_user
    user: Logged in User
    avatar_form: Form to upload avatar
    form: User Signup Form
    addpostform: Form to add post
    password_change_form: Form to change User password
    comments - Comments
    comment_form - Comment Form
    user_profiles - Profiles of users
    tags - All tags
    pending_posts: pending_posts not approved by admin
    native_pending_posts: Pending posts of native user
    'read_notif': read notifications of logged in user,
    'unread_notif': unread notifications of logged in user,
    'drafts : Drafts of native_user
    'scheduled_posts' : Scheduled event related posts which have not been approved yet.
    'quiz_results' :
    'followed_users': users followed by native user,
    'followers': followers of native user,
{% endcomment %}

{% block title %}
    {{ native_user.first_name }} {{ native_user.last_name }}
{% endblock %}

{% block content %}

    {% include 'user_profile/navbar.html' %}

        {# Tab for small screen #}
{#    <div class="row hide-on-med-and-up">#}
{#        <div class="col s12">#}
            <ul class="tabs tabs-fixed-width tab-demo hide-on-med-and-up">
                <li class="tab col center">
                    <a href="{% url 'User Profile' native_user.username %}" target="_self">Reset</a>
                </li>
                {% for tag in tags %}
                    {% if tag.name in request.build_absolute_uri %}
                        <li class="tab col center amber"><a class="active" href="{% url 'filter_post_user_profile' native_user.username tag.name %}" target="_self">{{ tag.name }}</a></li>
                    {% else %}
                        <li class="tab col center"><a href="{% url 'filter_post_user_profile' native_user.username tag.name %}" target="_self">{{ tag.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
{#        </div>#}
{#    </div>#}

    <div class="row">

            {# Left side Catergory Menu #}
            <div class="col m4 l3 hide-on-med-and-down">
                {% include 'user_profile/left_side_bar.html' %}
            </div>

            {# Middle part #}
            <div class="col s12 m8 l6">
                <div class="add-post-user-profile">
                    {% if user == native_user %}
{#                        and not user.is_superuser %}#}
                        {% include 'user_profile/add_post.html' %}
                    {% endif %}
                </div>
                <div class=" post-display-user-profile">
                    {% include 'user_profile/post_display.html' %}
                </div>
            </div>

            {# Right side category menu #}
            <div class="col m4 l3 hide-on-small-and-down">
                {% include 'user_profile/right_side_bar.html' %}
            </div>
    </div>
    {% include 'user_profile/modal_quiz_performance.html' %}
    {% include 'user_profile/modal_manage_calendar.html' %}
    {% include 'user_profile/modal_change_password.html' %}
    {% include 'user_profile/modal_avatar.html' %}
    {% include 'user_profile/modal_verify_post.html' %}
    {% include 'user_profile/modal_pending_post.html' %}
{% endblock %}

