{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{#{% load notifications_tags %}#}
{% comment %}
    Context vars:
    profile: profile of native user
    native_user: User whose profile is currently open.
    native_posts: Post by native_user
    user: Logged in User
    avatar_form: Form to upload avatar
    form: User Signup Form
    addpostform: Form to add post
    password_change_form: Form to change User password
    comments - Comments
    comment_form - Comment Form
    user_profiles - Profiles of users
    tags - All tags
    pending_posts: pending_posts not approved by admin
    native_pending_posts: Pending posts of native user
    'read_notif': read notifications of logged in user,
    'unread_notif': unread notifications of logged in user,
{% endcomment %}

{% block title %}
    {{ native_user.first_name }} {{ native_user.last_name }}
{% endblock %}

{% block content %}

    {% include 'user_profile/navbar.html' %}
    <div class="row">

            {# Left side Catergory Menu #}
            <div class="col m4 l3 hide-on-med-and-down">
                {% include 'user_profile/left_side_bar.html' %}
            </div>

            <div class="col s12 m8 l6">
                <div class="add-post-user-profile">
                    {% if user == native_user and not user.is_superuser %}
                        {% include 'user_profile/add_post.html' %}
                    {% endif %}
                </div>
                <div class=" post-display-user-profile">
                    {% include 'user_profile/post_display.html' %}
                </div>
            </div>

            <div class="col m4 l3 hide-on-small-and-down">
                {% include 'user_profile/right_side_bar.html' %}
            </div>
    </div>

    {% include 'user_profile/change_password_modal.html' %}
    {% include 'user_profile/avatar_modal.html' %}
    {% include 'user_profile/verify_post_modal.html' %}
    {% include 'user_profile/pending_post_modal.html' %}
{% endblock %}

