/*#publish{*/
    /*font-size:100%;*/
/*}*/


  /*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
  /*}*/

  /*main {*/
    /*flex: 1 0 auto;*/
  /*}*/
.post-head-m-down{
    font-size: 3vw;
}

.post-head-s-down-l{
    font-size: 4vw;
}

.post-head-m-up{
    font-size: 5vw;
}

/*#comment-timestamp{*/
    /*color: blue;*/
/*}*/


.notifications{
    overflow: auto;
    height: auto;
    max-height: 500px;
}

.comment-reply{
    display: none;
    max-height: 500px;
    overflow: auto;
}

.comment-display{
    max-height: 500px;
    overflow: auto;
}

.django-ckeditor-widget{
    display: inline-block;
}

.calendar{
    overflow: auto;
}

.tabs .indicator{
    background-color: darkorange;
}

/* FOR PRELOADER */

/*.preloader-background {*/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*background-color: #eee;*/

	/*position: fixed;*/
	/*z-index: 100;*/
	/*top: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*bottom: 0;*/
/*}*/

/*.spinner-wrapper {*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*background-color: #ff6347;*/
/*z-index: 999999;*/
/*}*/

/*.spinner {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*background-color: #333;*/

    /*position: absolute;*/
    /*top: 48%;*/
    /*left: 48%;*/
    /*-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;*/
    /*animation: sk-rotateplane 1.2s infinite ease-in-out;*/
/*}*/

/*@-webkit-keyframes sk-rotateplane {*/
  /*0% { -webkit-transform: perspective(120px) }*/
  /*50% { -webkit-transform: perspective(120px) rotateY(180deg) }*/
  /*100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }*/
/*}*/

/*@keyframes sk-rotateplane {*/
  /*0% {*/
    /*transform: perspective(120px) rotateX(0deg) rotateY(0deg);*/
    /*-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)*/
  /*} 50% {*/
    /*transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);*/
    /*-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)*/
  /*} 100% {*/
    /*transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);*/
    /*-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);*/
  /*}*/
/*}*/