{% extends 'base.html' %}
{% load materializecss %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
    <div class="container white">
        <h3>Forgot password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|materializecss:'s12 m12, icon=mail' }}
            <button class="btn waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}