{% extends 'base.html' %}
{% load materializecss %}
{% block title %}
    Password Reset Form
{% endblock %}
{% block content %}
    <div class="container white">
        {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|materializecss }}
            <button class="btn waves-light" type="submit" name="action">Change Password
                <i class="material-icons right">send</i>
            </button>
            </form>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}